.video__iframes {
  min-width: 1050px;
  margin-top: 50px;
  margin-bottom: -50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}