.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  z-index: 5;
  margin-left: 64px;
  margin-top: 30px;
  display: flex;
}

.header__title {
  line-height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center; /* тут я ваще не уверена */
  align-items: center;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 4;
  margin-bottom: 30px;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* ваще не уверенанана */
}

.header__main-illustration {
  position: absolute;
  display: flex;
  justify-content: flex-end; /* так, надо понять чё тут делать */
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  margin-top: 64px;
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
